
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


img{
    object-fit: cover;
   
}


.bigCard{
    padding: 15px;
    display: flex;
    box-sizing: border-box;
    background-color: blanchedalmond;
    border-radius: 15px;
    width: 400px;
    justify-content: center
    ;
}

.card-body{
    padding: 100;
}

.navbar {
    font-weight: bolder;
    padding: 20px;
}

/* body {
    background-color: rgb(187, 41, 255);
}



.navbar-brand {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: blue;
}

.navbar-nav {
    justify-content: space-between;
    gap: 10px;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.panel {
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;
    height: 400px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
}

.panel:hover {
    flex: 5;
}

.navbar-btn {
    justify-content: space-between;
}

.btn-primary {
    background-color: black;
    color: white;
    border-radius: 20px;
}

.btn-secondary {
    opacity: 50%;
    color: black;
    border-radius: 25px;
} */

.section{
    margin: 0px;
    padding: 0px;
}


.section-item{
    padding: 15px;
    display: flex;
    width: 700px;
    overflow: hidden;
    box-shadow: 5px;
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
    box-shadow: 3px 3px 3px darkgrey;
}


.item-body{
display: flex;
flex-direction: column;
justify-content: center;
padding: 20px;
width: 50%;
}
.section-item>img{
    object-fit: cover;
   width: 50%;
   height: auto;
}

.item-body h3{
    font-size: 30px;
    font-weight: bolder;
    margin: 50px 0 20px;
}

.item-body p{
    font-size: 20px;
margin: 0 0 30px;
}

.item-body .button {
    margin: 50px 0 0 0 ;
    background-color: #90a1ed;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}
